<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="myBatis-config.properties"></properties>
	<settings>
	<setting name="mapUnderscoreToCamelCase" value="true"></setting>
	</settings>
	
	<!-- 别名不区分大小写 -->
	<typeAliases>
	
	<!-- 1.为java类型取别名
		type:指定要取别名的类型全类名，默认别名为类名小写
		alias:指定别名 -->
	 <typeAlias type="com.hao.personnel.information.Student" alias="student"></typeAlias>
	 <typeAlias type="com.hao.personnel.information.Teacher" alias="teacher"></typeAlias>
	 
	<!-- 2.批量为某包下所有的类取别名 -->
	<package name="com.hao.personnel.information"></package>
	
	<!-- 3.在类前使用注解@Alias("xxx") -->
	</typeAliases>
	
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<!-- 配置数据库连接信息 -->
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc_driver}" />
				<property name="url" value="${jdbc_url}" />
				<property name="username" value="${jdbc_username}" />
				<property name="password" value="${jdbc_password}" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="student-sql-mapper.xml"/>
		<mapper resource="teacher-sql-mapper.xml"/>
	</mappers>
	
</configuration>