<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.hao.myBatis.TeacherMapper">
   
    <!-- 创建表 -->
    <update id="create" databaseId="mysql">
        create table if not exists ${jdbc_table_teacher} (id int primary key auto_increment, name varchar(20), birth DATE, gender bit);
    </update>
    
    <!-- 添加数据 -->
    <insert id="add" parameterType="teacher" databaseId="mysql">
        insert into ${jdbc_table_teacher}(name,birth,gender) value(#{name},#{birth},#{gender});
    </insert>
    
    <!-- 删除数据 -->
    <delete id="delById" parameterType="int" databaseId="mysql">
        delete from ${jdbc_table_teacher} where id = #{id};
    </delete>
    
    <!-- 修改数据 -->
    <update id="update" parameterType="com.hao.personnel.information.Teacher" databaseId="mysql">
        update ${jdbc_table_teacher} set name=#{name},birth=#{birth},gender=#{gender}, where id=#{id};
    </update>
    
    <!--根据id查询得到一个user对象-->
    <select id="getById" parameterType="int" resultType="com.hao.personnel.information.Teacher" databaseId="mysql">
        select * from ${jdbc_table_teacher} where id=#{id};
    </select>
    
    <!-- 查询所有的用户 -->
    <select id="list" resultType="com.hao.personnel.information.Teacher" databaseId="mysql">
        select * from ${jdbc_table_teacher};
    </select>
</mapper>